.grid-gallery__column {
  display: flex;
  flex-direction: column; 
  width: calc(100% / 3);
}

.grid-gallery__figure {
  margin: 15px;
}

@media (max-width: 800px) {
  .grid-gallery__column {
    width: 100%;
  }
}
