.button {
	display: block;
  margin: 0 auto;
	padding: 1.2em 2em;
	border:none;
	border-radius: 0.5em;
	font-size: 1.2em;
	color: #ffffff;
	background-color: #8ebebc;
	cursor: pointer;
}

.button:hover {
	background-color: #9ececc;
}
