:root {
  --margtop: 25px;
  --padleft: 20px;
  --padright: 20px;
  --padtop: 20px;
}

@custom-media --before-desktop-viewport (max-width: 959px);
@custom-media --desktop-viewport (min-width: 960px);
@custom-media --before-medium-viewport (max-width: 699px);
@custom-media --medium-viewport (min-width: 700px);
