.issue {
  display: flex;
  align-items: center;
  min-height: 55px;
  padding: 8px 16px;
  margin-top: -1px;
  border-top: 1px solid rgb(225, 228, 232);
}

.issue__item:first-of-type {
  border-top-color: transparent;
}

.issue__status {
  margin-right: 8px;
}

.issue__icon {
  vertical-align: text-top;
}

.issue__icon--open {
  fill: rgb(40, 167, 69);
}

.issue__icon--closed {
  fill: #cb2431;
}

.issue__title {
  line-height: 1.25;
  flex-grow: 1;
}

.issue__link {
  color: rgb(36, 41, 46);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.issue__link:hover, .issue__link:focus {
  color: rgb(3, 102, 214);
}
