.root {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, white, gray);
  height: 100vh;

  &__title {
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 75px;
  }
}
