.contact-title{
  padding-top: 5%;
  text-align: center;
}

.contact-title-h1{
  font-size: 45px;
  font-weight: normal;
  color: #6E6E6E;
  padding-top: 0;
}
.contact-title-h2{
  font-size: 20px;
  font-weight: normal;
  color: #888888;
  line-height: 35px;
}
.login-inputs{
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.inputs{
  border: none;
  color: #888888;
  font-size: 25px;
  margin-top: 3%;
  width: 44%;
  border-radius: 5px;
  padding: 11px;
  background-color: #F8F9F9;
  outline: none;
}
.input-name{
  margin-right: 3%;
}
.input-message{
  width: 82.4%;
  margin-left: 50%;
  transform: translateX(-50%);
  height: 30%;
}
.button-send-message{
  margin-left: 50%;
  margin-top: 70px;
  transform: translateX(-50%);
}
.button-send-message:active{
  margin-left: calc(50% + 3px);
  margin-top: 72px;
}
