  .intro-center {
    position: absolute;
    text-align: center;
    left: 60%;
    top: 30%;
    transform: translateX(-50%);
  }

  .intro-h1 {
    font-size: 43px;
    color: #D4D4D2;
    font-weight: normal;
    line-height: 1.6;
  }

  .intro-h1 span {
    color: #FFFFFF;
  }

  .intro-h2 {
    font-weight: normal;
    line-height: 1.5;
    color: #D5D4D1;
  }

  .button {
    color: #FFFFFF;
    background-color: #83B0AE;
    border: none;
    font-size: 25px;
    padding: 30px 60px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.5);
    transition-property: background-color;
    transition-duration: 0.7s;
  }

  .button:hover {
    background-color: #6F5BD5;
  }

  .button:focus {
    outline: none;
  }

  .button:active {
    margin-left: 3px;
    margin-top: 17px;
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.5);
  }
