.issues-listing__subnav {
  margin-bottom: 20px;
}

.subnav {
  display: flex;
  justify-content: space-between;
}

.subnav__search {
  position: relative;
}

.subnav__search-input {
  font-family: inherit;
  width: 320px;
  color: rgb(88, 96, 105);
  background-color: rgb(250, 251, 252);
  min-height: 34px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  box-shadow: rgba(27, 31, 35, 0.075) 0px 1px 2px inset;
  padding: 6px 8px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(209, 213, 218);
  border-image: initial;
  border-radius: 3px;
  outline: none;
}

.subnav__search-icon {
  fill: currentcolor;
  position: absolute;
  top: 9px;
  left: 8px;
  display: block;
  color: rgb(198, 203, 209);
  text-align: center;
  pointer-events: none;
}