



.sidebar__navigation__list-item > a{
    padding: 0 32px;
    height: 56px;

    display: flex;

    align-items: center;
    justify-content: space-between;

    transition: background 0.3s ease;
}

.sidebar__navigation__list-item__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17pt;
    color: rgb(144, 146, 147);

    transition: color 0.3s ease;
}

.sidebar__navigation__list-item__icon {
    color: rgb(59, 65, 69);

    width: 32px;
    height: 32px;

    font-size: 17pt;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: color 0.3s ease;
}

.sidebar__navigation__list-item:hover {
    background: rgb(28, 32, 34);
}

.sidebar__navigation__list-item:hover .sidebar__navigation__list-item__icon {
    color: rgb(226, 118, 137)
}

.sidebar__navigation__list-item:hover .sidebar__navigation__list-item__text {
    color: rgb(255, 255, 255);
}





.main-content {
    margin-left:  320px;
}





.intro {
    background: url("../images/banner.jpg");
    background-size: cover;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__caption {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 52pt;
    line-height: 1.5;
    color: rgb(214, 214, 212);


    margin: 0 98px;
    margin-bottom: 32px;
}

.intro__caption > span {
    font-weight: 300;
    color: rgb(255, 255, 255);

    border-bottom: 1px solid white;

    transition: all 0.3s ease;
}

.intro__text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21pt;
    line-height: 1.5;
    color: rgb(214, 214, 212);

    margin: 0 240px;
}

.intro__button {
    border-radius: 8px;
    background: rgb(135, 180, 178);

    box-sizing: border-box;
    height: 96px;
    padding: 32px;
    margin: 32px;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 32pt;
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
}

.intro__caption > span:hover {
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.28);
}

.intro__button:hover {
    background: rgb(163, 212, 210);
    box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.28);
}





.portfolio {
    background: rgb(244, 249, 249);
}

.portfolio__caption {
    padding: 128px 0 48px 0;
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 48pt;
    color: rgb(102, 102, 102);
}

.portfolio__text {
    text-align: center;
    letter-spacing: 2px;
    margin: 0 98px;
    margin-bottom: 48px;

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 21pt;
    color: rgb(102, 102, 102);
}

.grid {
    margin: auto 98px;
}

.grid__row {
    padding: -24px;
}

.grid__row:after {
    content: "";
    display: table;
    clear: both;
}

.grid__column {
    float: left;

    box-sizing: border-box;
    width: calc(100%/3);
    padding: 24px
}





.card {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.3s ease;
}

.card__image {
    display: block;
    width: 100%;
}

.card__descr {
    background: rgb(255, 255, 255);
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 19pt;
    color: rgb(102, 102, 102);
}

.card:hover {
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.21);
}





.contact {
    background: rgb(244, 249, 249);
    height: 100vh;
}

.contact__caption {
    padding: 128px 0 48px 0;
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 48pt;
    color: rgb(102, 102, 102);
}

.contact__text {
    text-align: center;
    letter-spacing: 2px;
    margin: 0 98px;
    margin-bottom: 48px;

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 21pt;
    color: rgb(102, 102, 102);
}

.contact__form {
    margin: 0 98px;
    /*margin-bottom: 98px;*/
}

.contact__form__wrap {
    display: flex;
    flex-direction: row;

    margin: 0 -16px;
    margin-bottom: 16px;
}

.contact__form__input {
    box-sizing: border-box;

    outline: none;
    border: 1px solid rgb(211, 212, 212);

    height: 64px;
    width: 100%;

    margin: 16px;
    padding: 24px;

    display: block;
    border-radius: 8px;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 11pt;
    color: rgb(102, 102, 102);
}

.contact__form__input:focus {
    outline: none;
    background: rgb(215, 251, 249);
}

.contact__form__textarea {
    width: 100%;
    margin: 0;

    height: calc(100vh - 710px);
    resize: none;
}





.wrap {
    display: flex;
    justify-content: center;
}

.button {
    border-radius: 8px;
    background: rgb(135, 180, 178);

    box-sizing: border-box;
    height: 96px;
    padding: 32px;
    margin: 32px;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 32pt;
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
}

.button:hover {
    background: rgb(163, 212, 210);
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.21);
}
