.main-content {
  width: 100%;

  &__header {
    padding: 10% 20% 10% calc(20% + 280px);
    background-image: url(../images/banner.jpg);
  }

  &__main {
    padding: 10% 20% 10% calc(20% + 280px);
  }

  &__footer {
    background: #e7eceb;
    padding: 10% 20% 10% calc(20% + 280px);
  }

}
