.main-content {
  margin-left: 20%;
  &__header {
    padding:  10% 20%;
    background-image: url(../images/banner.jpg);
  }
  &__main {
    padding:  10% 20%;
  }
  &__footer {
    background: #e7eceb;
    padding:  10% 20%;
  }
}
