.menu {
  &--vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &-field {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    &__icon {
      color: #41484c;
      font-size: 25px;
    }
    &__name {
      color: #576168;
    }
  }
  &--horizontal {
    color: #41484c;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
}
