@media (max-width: 800px) {

  .main-content {
    margin: 0;
    &__header {
      padding:  10% 10%;
    }
    &__main {
      padding:  10% 10%;
    }
    &__footer {
      padding:  10% 10%;
    }
  }

}
