@media (max-width: 800px) {

  .contact-form {
    &__name {
      border-radius: 5px;
      width: 100%;
    }
    &__about-user {
      flex-wrap: wrap;
    }
    &__email {
      width: 100%;
    }
  }

}
