.side-bar {
  position: fixed;
  height: 100%;
  width: 20%;
  background-color: #212528;
  &__header {
    margin: 10% 3%;
  }
  &__footer {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
