.user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0;
  padding: 15px;
  &:hover {
    background-color: #1c2022;
    cursor: pointer;
  }
  &-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    &__first-name {
      color: #ffffff;
    }
    &__last-name {
      color: #576168;
    }
  }
}
