.user {
  display: flex;
  justify-content: space-between;
  &-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    &__first-name {
      color: #ffffff;
    }
    &__last-name {
      color: #576168;
    }
  }
}
