.issues__item {
  display: flex;
  align-items: center;
  min-height: 55px;
  padding: 8px 16px;
  margin-top: -1px;
  border-top: 1px solid rgb(225, 228, 232);
}

.issues__item:first-of-type {
  border-top-color: transparent;
}

.issues__description {
  display: flex;
  max-width: 80%;  
  padding: 1em;
  font-size: 1.4em;
  border: 2px solid #d1d5da;
}