

.description{
    font-weight: bold;
    font-size: 6vw;
    font-family: 'Dosis', sans-serif;
}
@media (min-width:760px) and (max-width:959px){
    .description{
        font-size: 4vw;
     }  
}
@media(min-width:960px){
    .description{
        font-size: 3vw;
    }  
}
.description--white{
    color: white;
}
.description--underlining{
    border-style: none none dotted none;
}