
.link:link{
    text-decoration: none;
}
.link:visited{
    text-decoration: none;
}
.link:active{
    text-decoration: none;
}
.link:hover{
    text-decoration: none none;
}
.link{
    font-family: 'Dosis', sans-serif;
    text-align:center;
    display: block;
    color: white;
    font-size: 1.8vw;
}
@media(min-width:900px){
    .link{
        font-size: 1.2vw;
    }
}
