.main-container{
    width: 100%;
    height: 100vh;
}
.main-container--intro{
    width: 100%;
    height: 100vh;
    background: url("http://res.cloudinary.com/dqw3wdfyu/image/upload/v1499439448/task3/banner.jpg");
    background-size: cover;
}
.main-container--portfolio{
    text-align: center;
    height: auto;
    background-color: #F1F6F6;
}
.main-container--contact{
    background: #E6ECEA;
    text-align: center;
}