
.navigation__element{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    clear: left;
    list-style-type: none;
    height: 1vw;
    padding: 30px;
    opacity: 0.6;
}
.navigation__element:hover{
    opacity: 0.99;
    background-color: #222527;
}