.side-bar{
    transform: translateX(-100%);
    position: fixed;
    height: 100%;
    width: 18vw;
    background-color: #27292D;
    min-width: 108px; 

}
.side-bar__person{
        padding: 5%;
}
.side-bar__social-media{
    position: absolute;
    bottom: 0;
    margin: 2vw;
    display: flex;
}
@media(min-width:960px){
    .side-bar{
        transform: translateX(0);
    }
}