.as-header {
	/* @mixin clearfix; */
	&__author {
		display: block;
		float: right;
	}

	&__name {
		margin-bottom: 10px;
		font-size: 1.8rem;
		font-weight: bold;

		color: white;
	}

	&__occup {
		font-size: 1.2rem;

	}


}