.aside {
	position: fixed;
	display: flex;
	flex-direction: column;

	z-index: 1;
	

	background-color: #141111;
	width: 250px;
	height: 100vh;
	min-width: 100px;
	max-width: 300px;
	overflow: auto;
	color: #C4C4C4;

	&__nav {
	}

	&__footer {
		display: flex;
		justify-content: center;
		padding: 12px 0;
		margin-top: auto;
		font-size: 1.6rem;
		text-align: center;

	}

	@media (--before-medium-viewport) {
		&--closed {
			transform: translateX(-100%);
		}
	}

}
