.icons-list {

	display: flex;
	flex-direction: row;
	
	&__item {
		padding-right: 16px;
	}

	&__twitter:before {
		content: "\f099";
	}


	&__facebook:before {
		content: "\f09a";
	}

	&__letter:before {
		content: "\f0e0";
	}

	&__github:before {
		content: "\f09b";
	}
	
}