.list {


	background-color: #444444;

	&__ref {

		display: block;
		height: 100%;
		padding: 20px 0px;

				&::before {
			float: left;
			display: block;
		}

		&:hover {
			&::before {
				color: #C8738C;
			}
		}

		&--home:before {
			content: "\f015";
		}


	}

}