.main-block {
	padding: 80px 40px;
	text-align: center;
	min-height: 100vH;

	&--top {		
	background: url(../images/banner.jpg) no-repeat;
	background-size: cover;

	}

	&--portfolio {
		background-color: #DBDBDB;
	}

	&--contact {
			background-color: #CDCDCD;
	}

	&__title {
			font-size: 2.5rem;
	color: #5E5E5E;
	margin-bottom: 40px;
	}

	&__text {
	margin-bottom: 40px;
	font-size: 1.6rem;
	color: #5E5E5E;
	}

	&__gallery {

	}

	&__form {

	}




}