.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 35px;
}

.social {
  text-align: center;
  &__link {
    margin-right: 19px;
    color: #8c8888;
    font-size: 17px;
    &:last-child {
      margin-right: 0;
    }
  }
}