.form {
  &-group {
    display: flex;
    justify-content: space-between;
  }
  &__field {
    width: 100%;
    margin-right: 20px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #c5c5c5;
    margin-bottom: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__button-groups {
    display: flex;
    justify-content: space-around;
  }
}
