.staticAside {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background-color: #202427;

  @media (--before-desktop-viewport) {
    transition: 0.5s;
    transform: translateX(-100%);
  }

  .main__staticAsside--open{
    transition: 0.5s;
    transform: translateX(0%);
  }
}
