.mainHeader {
  display: flex;
  margin-top: var(--margtop);
  justify-content: space-between;
  padding-right: var(--padright);
  padding-left: var(--padleft);
  align-items: center;

  &__item1 {
    color: white;
  }

  &__item2 {
    color: white;
  }
}
