.toggle {
  position: absolute;
  background-color: inherit;
  border: none;


   @media (--before-desktop-viewport) {
    background-image: svg-load("menu.svg", fill: #ffffff);
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
   }

   @media (--desktop-viewport) {
    visibility: hidden;
  }
}
