.container {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding-top: 12px;
  padding-bottom: 12px;
  color: rgba(255,255,255,0.75);
  background-color: #24292e;
}

.header-logo {
  display: block;
  color: #fff;
  white-space: nowrap;
}

.header-logo img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
