extends modules/main

block head
  - var pageTitle = "HTML/CSS Part 1";

block content

  +b.SECTION.sidebar
    +e.inner
      +e.HEADER.header
        +e.IMG.header-img(src="assets/images/avatar.jpg", width="48px", height="48px")
        +e.P.fullname Jane Doe
        +e.P.position Hyperspace Engineer

      +b.NAV.navigation
        +e.A(href="#page-intro").link--active.--intro Intro
        +e.A(href="#page-portfolio").link--portfolio Portfolio
        +e.A(href="#").link--about About Me
        +e.A(href="#page-contact").link--contact Contact

    +b.UL.social
      +e.LI.item
        +e.A(href="#").link--tw
      +e.LI.item
        +e.A(href="#").link--fb
      +e.LI.item
        +e.A(href="#").link--git
      +e.LI.item
        +e.A(href="#").link--drib
      +e.LI.item
        +e.A(href="#").link--mail


  +b.MAIN.main
    +b.SECTION.page-intro#page-intro
      +e.P.title Hi! I'm Prologue, a #[a(href="#").link free] responsive<br>site template designed by #[a(href="#").link HTML5 UP].
      +e.P.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, inventore id ab.
      +e.P.btn
        +b.A(href="#").btn Magna Aliqua

    +b.SECTION.page#page-portfolio
      +e.P.title Portfolio
      +e.P.subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sit asperiores id ea itaque, optio nobis expedita rerum recusandae earum. Laudantium illum quia reprehenderit doloremque, magni eaque? Iure laborum deserunt in vitae, quibusdam. Ratione, eius. Perspiciatis aliquid vero quo libero ratione sint, aperiam, laboriosam.

      +b.gallery
        +e.item
          +b.FIGURE.gallery-card
            +e.IMG.img(src="assets/images/pic02.jpg", width="420px", height="286px")
            +e.FIGCAPTION.title Lorem ipsum
        +e.item
          +b.FIGURE.gallery-card
            +e.IMG.img(src="assets/images/pic03.jpg", width="420px", height="283px")
            +e.FIGCAPTION.title Lorem ipsum
        +e.item
          +b.FIGURE.gallery-card
            +e.IMG.img(src="assets/images/pic04.jpg", width="420px", height="460px")
            +e.FIGCAPTION.title Lorem ipsum
        +e.item
          +b.FIGURE.gallery-card
            +e.IMG.img(src="assets/images/pic05.jpg", width="420px", height="235px")
            +e.FIGCAPTION.title Lorem ipsum
        +e.item
          +b.FIGURE.gallery-card
            +e.IMG.img(src="assets/images/pic06.jpg", width="420px", height="221px")
            +e.FIGCAPTION.title Lorem ipsum
        +e.item
          +b.FIGURE.gallery-card
            +e.IMG.img(src="assets/images/pic07.jpg", width="420px", height="364px")
            +e.FIGCAPTION.title Lorem ipsum
        
    +b.SECTION.page#page-contact
      +e.P.title Contact
      +e.P.subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sit asperiores id ea itaque, optio nobis expedita rerum recusandae earum. Laudantium illum quia reprehenderit doloremque, magni eaque? Iure laborum deserunt in vitae, quibusdam. Ratione, eius. Perspiciatis aliquid vero quo libero ratione sint, aperiam, laboriosam.
      +b.FORM(acrtion="#", method="post").form
        +e.P.inner
          +e.INPUT(type="text", placeholder="Name").input--name
          +e.INPUT(type="email", placeholder="Email").input--email
        +e.P.inner
          +e.TEXTAREA(placeholder="Message").input--textarea
        +e.P.inner
          +e.INPUT(type="submit", value="Send Message").btn.btn