.social{

    &__item{
        float:left;
        padding:10px;
        color:#8b8888;

        &--twitter{

        }
        &--facebook{
            
        }
        &--github{
            
        }
        &--dribbble{
            
        }
        &--envelope{
        }
    }
}