@font-face {
  font-family: 'MyWebFont';
  src: url('fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/fontawesome-webfont.eot?iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/fontawesome-webfont.svg') format('svg'); /* Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'MyWebFont', Fallback, sans-serif;
    color: #c0bdb4;
}

header {
   padding-bottom: 30px;
   padding-top: 30px;
}

footer {
  bottom: 50px;
  position: fixed;
  padding-left: 65px;
}

p {
  font-size: 22px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main {
  height: 100%;
}

.button input {
  display: inline-block;
  background-color: #7ba3a2;
  border: none;
  color: white;
  text-align: center;
  font-size: 26px;
  border-radius: 6px;
  padding: 30px;
  width: 276px;
}

.sidebar {
  float: left;
  width: 300px;
  position: fixed;
  height: 100%;
  background-color: #202427;
}

li:hover
{
  background-color:#202020;
}

li:hover i {
  color: #660033;
}

li:hover a {
  color: white;
}

.menu-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu-item-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.menu-link {
  position: relative;
  display: block;
  padding-right: 40px;
  text-align: right;
  text-decoration: none;
  font-size: 22px;
  color: #404040;
}

.menu-footer {
  float: left;
  list-style: none;
}

.menu-name {
  font-size: 26px;
  text-align: right;
}

.menu-position {
  font-size: 16px;
  text-align: right;
}

.menu-alignment {
  display: inline-block;
  padding-left: 34px;
}

.menu-item-img {
  padding-left: 15px;
}

.footer-link {
  position: relative;
  display: block;
  padding-right: 15px;
  text-align: right;
  text-decoration: none;
  font-size: 22px;
  color: #404040;
}

.content {
  overflow: auto;
  height: 100%;
  padding-left: 300px;
}

.intro {
  background-image: url("images/banner.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.intro p {
  font-size: 22px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.center-text {
  padding-left: 25%;
  padding-right: 25%;
  margin: auto;
  text-align: center;
  color: white;
}

.center-block {
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: relative;
}


.portfolio {
  background-color: #f2f8f8;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.portfolio h1{
  color: #202427;
  padding-top: 50px;
}

.portfolio p{
  color: #202427;
}

.galery {
  margin-left: -10px;
  margin-right: -10px;
}

.galery:after {
  content: "";
  display: table;
  clear: both;
}

.galery-item {
    float: left;
    width: calc(100% / 3);
    padding: 10px;
}

.galery-inner {
  padding-left: 10px;
  padding-right: 10px;
}

.galery-item img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

.contact {
  background-color: #e5e9e8;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.contact-inner h1{
  color: #202427;
  padding-top: 100px;
}

.contact-inner p{
  color: #202427;
  padding-bottom: 5px;
}

.contact-inner {
  padding-left: 30px;
  padding-right: 30px;
}

input[type=text] {
    width: 49%;
    padding: 12px 20px;
    margin: 8px 6px;
    box-sizing: border-box;
    font-size: 20px;
}

input[type=submit] {
  display: inline-block;
  background-color: #7ba3a2;
  border: none;
  color: white;
  text-align: center;
  font-size: 26px;
  border-radius: 6px;
  padding: 30px;
  width: 18%;
}

textarea {
    width: 99%;
    height: 400px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    resize: none;
}

.form-float {
  padding-bottom: 20px;
}
