.menu-h-section-list {
  &__item {
    font-family: var(--fontFamily);
    text-align: right;
    list-style-type: none;
  }

  &__h1 {
    line-height: 25px;
    font-weight: 300;
    color: white;
  }

  &__h4 {
    color: gray;
    font-weight: 300;
    line-height: 20px;
  }
}
