.portfolio {
    background-color: rgb(242, 247, 247);
	font-family: var(--fontFamily);
	text-align: center;
    color: rgb(135, 135, 136);
    display: flex;
    flex-direction: column;
   
    &__title {
        font-weight: 200;
        padding-top: 20px;
	    margin-bottom: 10px;
        font-size: 45px;  
    }

    &__subtitle {
        padding: 30px;
        line-height: 25px;
    }
}