.iLoveJs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  .img {
    width: 150px;
    height: 150px;
    background-image: url('./i-love-js.jpg');
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  .margin {
    margin: 10px
    }
  }
}
