.main-block {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #234555;


	&__img {
		margin-top: 100px;
	}

	&__message {
		padding-top: 20px;
		font-weight: bold;
		font-size: 2em;
		color: #E4D7D2;
	}
}
