* {
    box-sizing: border-box;
}

a {
    color: #0366d6;
    text-decoration: none;
}

strong {
    font-weight: 600;
}

.container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
}

.header-logo {
    display: block;
    color: #fff;
    white-space: nowrap;
}

.header-logo svg {
    fill: #fff;
    vertical-align: middle;
}

.pagehead {
    position: relative;
    padding-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e4e8;
    background-color: #fafbfc;
}

.pagehead-title {
    font-size: 18px;
    line-height: 26px;
    color: #586069;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

.pagehead-title svg {
    fill: #959da5;
    vertical-align: middle;
}

.repohead-container {
    margin-bottom: 20px;
}

.reponav {
    display: block;
    position: relative;
    top: 1px;
    margin-top: -5px;
}

.reponav-item svg {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.reponav-item {
    display: inline-block;
    padding: 7px 15px 8px;
    color: #586069;
    white-space: nowrap;
    border: solid transparent;
    border-width: 3px 1px 1px;
    border-radius: 3px 3px 0 0;
}

.reponav-item.selected {
    color: #24292e;
    background-color: #fff;
    border-color: #e36209 #e1e4e8 transparent;
}

.counter {
    display: inline-block;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: #444d56;
    background-color: rgba(27,31,35,0.08);
    border-radius: 20px;
}

.issues-listing__subnav {
    margin-bottom: 20px;
}

.issues-listing__header {
    background-color: #f6f8fa;
    border: 1px solid #e1e4e8;
    border-radius: 3px 3px 0 0;
}

.issues-listing__states {
    padding-left: 16px;
}

.btn-link {
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: normal;
    background-color: transparent;
    border: 0;
    font-size: inherit;
}

.btn-link svg {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.btn-link--selected {
    font-weight: 600;
}

.btn-link + .btn-link {
    margin-left: 10px;
}

.subnav {
    display: flex;
    justify-content: space-between;
}

.subnav__search {
    position: relative;
}

.subnav__search-input {
    font-family: inherit;
    width: 320px;
    color: rgb(88, 96, 105);
    background-color: rgb(250, 251, 252);
    min-height: 34px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    box-shadow: rgba(27, 31, 35, 0.075) 0px 1px 2px inset;
    padding: 6px 8px;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(209, 213, 218);
    border-image: initial;
    border-radius: 3px;
    outline: none;
}

.subnav__search-icon {
    fill: currentcolor;
    position: absolute;
    top: 9px;
    left: 8px;
    display: block;
    color: rgb(198, 203, 209);
    text-align: center;
    pointer-events: none;
}

.btn {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-size: 110% 110%;
    -webkit-appearance: none;
    padding: 6px 12px;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(27, 31, 35, 0.2);
    border-image: initial;
    border-radius: 0.25em;
    color: rgb(36, 41, 46);
    background-color: rgb(239, 243, 246);
    background-image: linear-gradient(-180deg, rgb(250, 251, 252) 0%, rgb(239, 243, 246) 90%);
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(40, 167, 69);
    background-image: linear-gradient(-180deg, rgb(52, 208, 88) 0%, rgb(40, 167, 69) 90%);
}

.issues {
    margin: 0;
    padding: 0;
    list-style: none;
}

.issues-listing__body {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: rgb(225, 228, 232);
}

.issues__item {
    display: flex;
    align-items: center;
    min-height: 55px;
    padding: 8px 16px;
    margin-top: -1px;
    border-top: 1px solid rgb(225, 228, 232);
}

.issues__item:first-of-type {
    border-top-color: transparent;
}

.issues__status {
    margin-right: 8px;
}

.issues__status--open {
    color: rgb(40, 167, 69);
}

.issues__status--closed {
    color: #cb2431;
}

.issues__icon {
    fill: currentColor;
    vertical-align: text-top;
}

.issues__title {
    line-height: 1.25;
    flex-grow: 1;
}

.issues__link {
    color: rgb(36, 41, 46);
    font-size: 16px;
    font-weight: 600;
}

.issues__link:hover, .issues__link:focus {
    color: rgb(3, 102, 214);
}

.description {
    font-weight: normal;
    line-height: 1.125;
    font-size: 32px;
    margin-left: 150px;
}

.description__id {
    font-weight: 300;
    color: #a3aab1;
}
