@reset-global pc;

html {
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
