.issues-listing__header {
  background-color: #f6f8fa;
  border: 1px solid #e1e4e8;
  border-radius: 3px 3px 0 0;
}

.issues-listing__states {
  padding-left: 16px;
}

.btn-link {
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: normal;
  background-color: transparent;
  border: 0;
  font-size: inherit;
}

.btn-link svg {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.btn-link--selected {
  font-weight: 600;
}

.btn-link + .btn-link {
  margin-left: 10px;
}