.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #e8e7e7;
}