body {
  margin: 0;
  font-family: Arial;
  overflow-x: hidden;
}
main{
  padding-left: 20%;
}
aside {
  position: fixed;
  width: 20%;
  height: 100vh;
  background-color: rgb(33, 37, 40);
  min-width: 250px;
}
.pages{
  width: 80vw;
  min-height: 100vh;
}
.pages::before{
  display: table;
  content: "";
  clear: both;
}
.page-intro {
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.page-portfolio{
  background-color: #F1F6F6;
}
.page-contact{
  background-color: #E4E9E8;
}
