.social-list {
	display: flex;
	justify-content: center;
	list-style-type: none;
	width: 100%;
}

.social-list__anchor {
	text-decoration: none;
	padding: 0.4em;
	font-size: 1.5em;
	color: #909293;
}

.social-list__anchor:hover {
	color: #E27689;
}
