.social-list {
	display: flex;
	justify-content: center;
	list-style-type: none;
	width: 100%;

  &__anchor {
    text-decoration: none;
    padding: 0.4em;
    font-size: 1.5em;
    color: #909293;
  }

  &__anchor:hover {
    color: #E27689;
  }
}
