@define-mixin flex-center-all {
  justify-content: center;
  align-items: center;
}



@define-mixin clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}