@define-mixin flex-center-all {
  justify-content: center;
  align-items: center;
}



/* @define-mixin clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}



@define-mixin icon $icon {
	list__ref--$(icon):before {
		        @mixin-content;
		        float: left;

	}

	list__ref--$(icon):hover:before {
							color: #C8738C;

	}
}
 */

