@import "./base/variables.pcss";
@import "./base/mixins.pcss";
@import "./base/scaffolding.pcss";
@import "./components/sidebar__header.pcss";
@import "./components/sidebar__menu.pcss";
@import "./components/sidebar__footer.pcss";
@import "./components/main-part.pcss";
@import "./components/portfolio.pcss";
@import "./components/contact.pcss";
@import "./components/about.pcss";
@import "./components/hidden-menu.pcss";
