.img__centre {
  margin-top: 100px;
  min-height: 20vh;
  background-image: url("./i-love-js.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.text--love {
  color: green;
  font-size: 1.5em;
}
