.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F7;
  box-shadow: 10px 10px 5px  rgba(0 , 0, 0, 0.2);
  margin-top: 50px;

  &__input {
    margin: 10px;
    width: 250px;
    height: 35px;
    font-size: 25px;
    color: gray;
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    outline: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
  }
  &__input:focus {
    transform: translate(2px, 2px);
    box-shadow: none;
  }

  &__button {
    background-color: #0055FF;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease;
    margin: 10px;
    outline: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  }

  &__button:hover {
    background-color: #0033FF;
  }

  &__button:active {
    transform: translate(2px, 2px);
    box-shadow: none;
  }

  &__textarea {
    height: 70px;
  }

}
