.cool-card {
    width: 300px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    margin: 0 auto;
}

.cool-card__img {
    display: block;
}

.cool-card__title {
    font-size: 28px;
    padding: 15px 0;
    text-align: center;
    background-color: #fff;
}
