.gallery__item {

    & + .gallery__item {
        margin-top: 30px;
    }
}

@media (--medium-viewport) {
    .gallery {
        column-count: 2;
        column-gap: 30px;
    }

    .gallery__item {
        break-inside: avoid;
    }
}

@media (--desktop-viewport) {
    .gallery {
        column-count: auto;
        column-width: 420px;
    }
}