.gallery__item {

    & + .gallery__item {
        margin-top: 30px;
    }
}

@media (--desktop-viewport) {
    .gallery {
        column-width: 24vw;
        column-gap: 30px;
    }

    .gallery__item {
        break-inside: avoid;
    }
}