.gallery-card {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    margin: 0;
}

.gallery-card__img {
    display: block;
    width: 100%;
    height: auto;
}

.gallery-card__title {
    padding: 20px 0;
    text-align: center;
    color: #555;
    background-color: #fff;
    font-size: 14px;
}