.gallery-card {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.gallery-card__img {
    display: block;
    width: 100%;
    height: auto;
}

.gallery-card__title {
    padding: 15px 0;
    text-align: center;
    color: #555;
    background-color: #fff;
    font-size: 16px;
    font-weight: 200;
}