.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sidebar-header__photo {
    flex-shrink: 0;
}

.sidebar-header__fullname {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    text-align: right;
}

.sidebar-header__position {
    font-size: 13px;
    color: #aaa;
    text-align: right;
}