:root {
  /* stylelint-disable */
  --fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  /* stylelint-enable */

  --sidebarWidth: 300px;
  --minWidth: 320px;
  --maxInnerWidth: 1024px;
}

@custom-media --before-desktop-viewport (max-width: 959px);
@custom-media --desktop-viewport (min-width: 960px);
@custom-media --before-medium-viewport (max-width: 699px);
@custom-media --medium-viewport (min-width: 700px);
