@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@require '~styles/colors.styl'

body, button, a
  font-family 'Inconsolata'

body
  margin 0
  background $color-background

  a
    color $color-secondary 
    text-decoration none

  .page
    padding 20px
    display flex
    justify-content center
