.author {
  margin: 1.5em;
  color: #fff;

  &__avatar {
    float: left;
  }

  &__name {
    font-weight: 600;
    line-height: 1em;
  }

  &__bio {
    font-size: 0.6em;
    opacity: 0.5;
    line-height: 1.25em;
    margin-top: 0.5em;
  }
}
