.form {
    padding-top: 40px;

    &__inner {
        clear: fix;
        text-align: center;
    }

    &__inner + .form__inner  {
        margin-top: 40px;
    }

    &__input {
        padding: 15px;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 10px;
        font-family: inherit;
        font-size: 16px;
    }

    &__input:focus {
        box-shadow: 0 0 0 2px #81adab;
    }

    &__input--name {
        width: 49%;
        float: left;
    }

    &__input--email {
        width: 49%;
        float: right;
    }

    &__input--textarea {
        width: 100%;
        min-height: 300px;
    }
}