.gallery {
    column-width: 24vw;
    column-gap: 30px;
    margin-top: 50px;

    &__item {
        max-width: 420px;
        break-inside: avoid;
        padding-bottom: 30px;
    }
}

.gallery-card {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    margin: 0;

    &__img {
        width: 100%;
        height: auto;
    }

    &__title {
        padding: 20px 0;
        text-align: center;
        color: #555;
        background-color: #fff;
    }
}