.navigation {
    
    &__link {
        display: block;
        padding: 25px 40px;
        text-align: right;
        color: #aaa;
        font-size: 18px;
        text-decoration: none;
        transition: color .3s ease;
        position: relative;
    }

    &__link:before {
        position: absolute;
        font-family: FontAwesome;
        font-size: 24px;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
        transition: color .3s ease;
    }

    &__link:hover {
        color: #fff;
    }

    &__link:hover:before {
        color: #DD7084;
    }


    &__link--active {
        color: #fff;
        background-color: #1C2022;
        box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .3);
    }

    &__link--active:before {
        color: #DD7084;
    }
    
    &__link--intro:before {
        content: "\f015";
    }

    &__link--portfolio:before {
        content: "\f00a";
    }

    &__link--about:before {
        content: "\f007";
    }

    &__link--contact:before {
        content: "\f0e0";
    }
}