.page-intro {
    min-height: 100vh;
    padding-top: 200px;
    background: url(../assets/images/banner.jpg) no-repeat;
    background-size: cover;

    &__title {
        color: rgba(255, 255, 255, .8);
        font-size: 42px;
        text-align: center;
        margin-top: 0;
        line-height: 1.5;
    }

    &__subtitle {
        color: rgba(255, 255, 255, .7);
        font-size: 22px;
        text-align: center;
        max-width: 500px;
        margin: 40px auto 40px;
        line-height: 2;
    }

    &__btn {
        text-align: center;
    }
}