.page {
    padding: 50px;
    background-color: #EDF2F2;
    min-height: 100vh;

    &__title {
        font-size: 38px;
        color: #555;
        text-align: center;
    }

    &__subtitle {
        color: #777;
        text-align: center;
        font-size: 18px;
        line-height: 1.8;
    }
}