.sidebar {
    width: 300px;
    background-color: #212528;
    height: 100vh;
    float: left;
    display: table;

    &__inner {
        display: table-row;
        height: 100%;
    }

    &__header {
        padding: 40px;
    }

    &__header-img {
        float: left;
    }

    &__fullname {
        font-size: 24px;
        margin: 0;
        color: #fff;
        font-weight: 700;
        text-align: right;
    }

    &__position {
        font-size: 13px;
        margin: 0;
        color: #aaa;
        text-align: right;
    }
}