.social {
    list-style: none;
    margin: 0;
    padding: 0 40px 40px;
    text-align: center;
    font-size: 0;

    &__item {
        display: inline-block;
    }

    &__item + .social__item {
        margin-left: 20px;
    }

    &__link {
        display: block;
        width: 20px;
        height: 20px;
        position: relative;
        opacity: .3;
        transition: opacity .3s ease;
    }

    &__link:before {
        font-family: FontAwesome;
        position: absolute;
        font-size: 22px;
        color: #fff;
        left: 50%;
        transform: translateX(-50%);
        top: -3px;
    }

    &__link:hover {
        opacity: .8;
    }

    &__link--tw:before {
        content: "\f099";
    }

    &__link--fb:before {
        content: "\f09a";
    }

    &__link--git:before {
        content: "\f09b";
    }

    &__link--drib:before {
        content: "\f17d";
    }

    &__link--mail:before {
        content: "\f09a";
    }
}