.container{

    &--item{

    }
    &--figure{

    }
    &--img{
	    width:100%;
    }
    &--figcaption{
        background-color: white;
        height: 40px;
        width: 100%;
        padding-top: 17px;
        margin-top: -5px;
        color:grey;       
    }
}