.header{

    &__avatar{
        width:130px;
        padding:30px;
        display:flex;
    }
    &__info{
        padding-top: 30px;
        text-align: right;
        float:right;
    }
    &__username{
        font-size:22px;
        color:white;
        font-weight: 700;
    }
    &__position{
        padding-top: 10px;
        font-size:12px;
    }
}