.menu{
    list-style-type: none;
    padding-left: 0;

    &__item{

    }
    &__link{
        font-size:18px;
        width:320px;
        padding: 30px;
        color:grey;

        &--home{

        }

        &--th{

        }
        &--user{

        }
        &--envelope{

        }
        
        &:hover{
            background-color: black;
            color:white;
        }
    }

    }
    &__name{
        float:right;
    }
}