.sidebar{
    z-index: 2;
    display: block;
    position: fixed;
    width:380px;
    height:100%;
    background-color: #202427;

    &__header{
        width:350px;
        color: grey;
    }

    &__menu{
	    height:100%;  
    }
    
    &__social{
        height: 40px;
        width: 230px;
        margin:auto;
        margin-top:-100px;
    }
}