.contact{
  background-color: #E4E9E8;
  width: 100%;
  padding-bottom: 200px;

  &__hgroup{
  padding-top: 100px;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  }
  &__title1{
    font-size: 45px;
    font-weight: normal;
    color: #6E6E6E;
    padding-top: 0;
  }
  &__title2{
    font-size: 20px;
    font-weight: normal;
    color: #888888;
    line-height: 35px;
  }
  
}
