.nav__li{
  padding: 30px;
  cursor: pointer;
  color: #909293;
  font-size: 20px;
  text-align: right;
  &--active{
    color:#FFFFFF;
    background-color: #1C2022;
    border: 3px;
    border-color: #1B1F21;
  }
}
