.nav{

  &__li{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    cursor: pointer;
    color: #909293;
    font-size: 20px;
    text-align: right;
    &--active{
      color:#FFFFFF;
      background-color: #1C2022;
      border: 3px;
      border-color: #1B1F21;
    }
  }
  &__icon{
    svg {
      fill: red;
      width: 30px;
      height: 30px;
    }
  }
}
