.header{
    display: flex;
    justify-content: space-between;
  &__icon{
    display: flex;
  }
  &__hgroup{
    position: relative;
    align-items: middle;
    text-align: right;
  }

  &__title1{
    font-size: 22px;
    color: #FFFFFF;
  }

  &__title2{
    font-size: 13px;
    color: #909293;
  }
}
