.nav{

  &__li{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    cursor: pointer;
    color: #909293;
    font-size: 20px;
    text-align: right;
    transition: all 0.2s ease;

    &:hover, &--active {
      color:#FFFFFF;
      background-color: #1C2022;
      border: 3px;
      border-color: #1B1F21;

      svg {
        fill: #E27689;
      }
    }
  }
  &__icon{
    svg {
      fill: #909293;
      width: 30px;
      height: 30px;

    }
  }
}
